


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: #0d6efd; 
  --bg-color: #f8f9fa;
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: var(--bg-color);
  color: #333;
}


a {
  text-decoration: none;
  transition: all 0.3s ease;
}


.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px); 
}


.btn-custom {
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: 600;
}